#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #4f6db8, #283e51);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-size: 3rem;
  color: aliceblue;
}

.instructions {
  font-size: 1.5rem;
  color: aliceblue;
  margin-bottom: 2em;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
